 .container
 {
    border-radius:5px;
    
    background-color: #ffffff ;
}

.hoverEffect:hover {
    background: #d5d7da;
}

.containerRight
{
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   
   background-color: #ffffff ;
}
